[user]
    email = jasmin.beharic@gmail.com
    name = Jasmin Beharic
    signingkey = 0x29B72274B74B288A
[core]
    editor = nvim
[log]
    date = iso8601
[pull]
    rebase = true
[gpg]
    program = gpg2
[init]
    defaultBranch = main
